main {
  /* padding: 0 5rem 3em 5rem; */
  min-height: 100vh;
  overflow: hidden;
}

.light {
  background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

.dark {
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
}

/* List style */
.listWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (min-width: 930px) {
  main {
    padding: 0 5rem 3em 5rem;
  }
}

@media (max-width: 929px) {
  main {
    padding: 0 1rem 0 1rem;
  }
  .listWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .listWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}